.parent-form {
  background-color: #f9f9f9;
  width: 100%;
  margin: 0;
  padding: 0.50rem;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.containers {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.login-box {
    text-align: center;
}

.logo img {
    width: 80px;
    border-radius: 50vw;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #333333;
}

p {
    color: #888888;
    margin: 5px 0 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 30px;
    background-color: #f3f3f3;
    font-size: 16px;
    outline: none;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]{
    color: #888888;
}

.btn {
    background-color: #FFD400;
    color: #111;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background-color: #e0b800;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    color: #888888;
}

.footer a {
    color: #FFD400;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.keep {
  color: #FFD400;
  font-weight: bold;
}

.spinner-border {
      display: inline-block;
      width: 1rem; /* Adjust size for button */
      height: 1rem;
      vertical-align: text-bottom;
      border: 0.15em solid white;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner-border 0.75s linear infinite;
    }

    @keyframes spinner-border {
      to {
        transform: rotate(360deg);
      }
    }